.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-actions {
  display: flex;
  gap: 1rem;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.navbar-logo a:hover {
  text-decoration: underline;
}


.login-button,
.toggle-mode {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.login-button:hover,
.toggle-mode:hover {
  background-color: var(--primary-dark);
}

.toggle-mode {
  background-color: transparent;
  font-size: 1.2rem;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .navbar-container {
    flex-wrap: wrap;
  }

  .navbar-buttons,
  .navbar-actions {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .navbar-buttons.active,
  .navbar-actions.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .navbar-container {
    padding: 0.5rem 1.5rem;
  }

  .navbar-logo h1 {
    font-size: 1.3rem;
  }

  .login-button,
  .toggle-mode {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar-container {
    padding: 0.5rem 1rem;
  }

  .navbar-logo h1 {
    font-size: 1.1rem;
  }

  .login-button,
  .toggle-mode {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}