.user-management {
  padding: 20px;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.user-management>h2 {
  margin-bottom: 20px;
  color: var(--clr-primary);
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters select,
.filters input[type="text"] {
  padding: 8px;
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.filters label {
  display: flex;
  align-items: center;
}

.tableManagement {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.thManagement,
td {
  border: 1px solid var(--clr-border);
  padding: 12px;
  text-align: left;
}

.thManagement {
  background-color: var(--clr-secondary);
  color: var(--clr-OnSecondary);
}

.trManagement:nth-child(even) {
  background-color: var(--clr-surface);
}

.buttonManagement {
  padding: 8px 12px;
  background-color: var(--clr-error);
  color: var(--clr-OnError);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.buttonManagement:hover {
  opacity: 0.8;
}

.buttonManagement:disabled {
  background-color: var(--disabled);
  color: var(--clr-OnBackground);
  cursor: not-allowed;
}

.buttonManagement:disabled:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  .tableManagement,
  .theadManagement,
  .tbodyManagement,
  .thManagement,
  .tdManagement,
  .trManagement {
    display: block;
  }

  .theadManagement tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .trManagement {
    border: 1px solid var(--clr-border);
    margin-bottom: 10px;
  }

  .tdManagement {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .tdManagement:before {
    content: attr(data-label);
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}