.aside {
  width: 200px;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  background-color: var(--clr-primary);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}

.aside-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside-items li:first-child {
  margin-top: 40px;
}

.aside-items li {
  margin-bottom: 1px;
  text-align: left;
}

.aside-items li:hover {
  cursor: pointer;
}

.aside-items a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: var(--clr-OnBackground);
  width: 100%;
  border-radius: 0px;
}

.aside-items a:hover {
  background-color: var(--primary-default);
}

.active-link {
  background-color: var(--clr-secondary);
  color: var(--clr-OnText);
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .aside {
    transform: translateX(-100%);
  }

  .aside.open {
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }
}