@import './variables.css';

body {
  background-color: var(--clr-background);
  color: var(--clr-OnBackground);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.app-container {
  padding: 20px;
  text-align: center;
}

.toggle-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.toggle-button:hover {
  background-color: var(--primary-dark);
}