:root {
    /*todo: Colores Estaticos */
    --primary-default: #8ac8f1;
    --primary-dark: #5b8099;
    --primary-light: #b3e1ff;

    --secondary-default: #3498db;
    --secondary-dark: #216b9c;
    --secondary-light: #5daee0;

    --disabled: darkgrey;


    /*? Roles */
    --superUser-default: rgb(247, 238, 112);
    --superUser-dark: rgb(200, 192, 90);
    --superUser-light: rgb(255, 247, 145);

    --cleaning-default: #bc54f4;
    --cleaning-dark: #933cbe;
    --cleaning-light: #d283f7;

    --delivery-default: #95df6d;
    --delivery-dark: #6bb149;
    --delivery-light: #b4e58e;

    --maintenance-default: #f2aa57;
    --maintenance-dark: #bf853d;
    --maintenance-light: #f5c17b;


    /*todo: Colores Dinamicos (Modo Claro) */
    /*? Fondo y Contra Fondo */
    --clr-background: #b2cad0;
    --clr-OnBackground: #1b232d;
    --clr-text: black;
    --clr-OnText: white;

    /*? Primario */
    --clr-primary: var(--primary-light);
    --clr-OnPrimary: var(--primary-dark);

    /*? Secundario */
    --clr-secondary: var(--secondary-light);
    --clr-OnSecondary: var(--secondary-dark);

    /*? Error */
    --clr-error: rgb(255, 48, 48);

    /*? Roles */
    --clr-superUser: var(--superUser-light);
    --clr-cleaning: var(--cleaning-light);
    --clr-delivery: var(--delivery-light);
    --clr-maintenance: var(--maintenance-light);

    --clr-superUser-hover: var(--superUser-dark);
    --clr-cleaning-hover: var(--cleaning-dark);
    --clr-delivery-hover: var(--delivery-dark);
    --clr-maintenance-hover: var(--maintenance-dark);
}

/*todo: Colores Dinamicos (Modo Oscuro) */
.dark-mode {
    /*? Fondo y Contra Fondo */
    --clr-background: #2c3e50;
    --clr-OnBackground: #ecf0f1;
    --clr-text: white;
    --clr-OnText: black;

    /*? Primario */
    --clr-primary: var(--primary-dark);
    --clr-OnPrimary: var(--primary-light);

    /*? Secundario */
    --clr-secondary: var(--secondary-dark);
    --clr-OnSecondary: var(--secondary-light);

    /*? Error */
    --clr-error: rgb(182, 0, 0);

    /*? Roles */
    --clr-superUser: var(--superUser-dark);
    --clr-cleaning: var(--cleaning-dark);
    --clr-delivery: var(--delivery-dark);
    --clr-maintenance: var(--maintenance-dark);

    --clr-superUser-hover: var(--superUser-light);
    --clr-cleaning-hover: var(--cleaning-light);
    --clr-delivery-hover: var(--delivery-light);
    --clr-maintenance-hover: var(--maintenance-light);
}