@import 'colors.css';

/*! Si necesitais cambiar o añadir algo aqui podeis hacerlo siempre que aviseis de ello */

/*todo---MARK: GENERAL STYLES */

/*? All */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*? Body */
body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

/*? Main */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/*? Botones */
button {
    background-color: var(--secondary-default);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: var(--secondary-dark)
}

/*? Tablas */
th,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-color: var(--clr-OnBackground);
}

th {
    background-color: var(--primary-dark);
    color: white;
}


/*todo---MARK: GENERAL STYLES App */

/*? Contenedor principal */
.app-container {
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


/*todo---MARK: Roles */

/* Clases de colores para cada rol de usuario */
.user-role.admin {
    background-color: var(--clr-admin) !important;
    color: var(--clr-text) !important;
}

.user-role.cleaning {
    background-color: var(--clr-cleaning) !important;
    color: var(--clr-text) !important;
}

.user-role.delivery {
    background-color: var(--clr-delivery) !important;
    color: var(--clr-text) !important;
}

.user-role.maintenance {
    background-color: var(--clr-maintenance) !important;
    color: var(--clr-text) !important;
}