@import 'colors.css';

/*! Si necesitais cambiar o añadir algo aqui podeis hacerlo siempre que aviseis de ello */

/*todo---MARK: GENERAL STYLES */

/*? All */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*? Body */
body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

/*? Main */
main {
    /* padding: 2rem; */
    padding-top: 2.5rem;
    margin: 0 auto;
}

/*? Botones */
button {
    background-color: var(--secondary-default);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: var(--secondary-dark)
}

/*? Tablas */
th,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-color: var(--clr-OnBackground);
}

th {
    background-color: var(--primary-dark);
    color: white;
}


/*todo---MARK: GENERAL STYLES App */

/*? Contenedor principal */
.app-container {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    transition: margin-left 0.3s, width 0.3s;
}

@media (max-width: 768px) {
    .app-container {
        width: 100%;
    }
}


/*todo---MARK: Roles */

/*? Estilo base para los roles */
.user-role {
    color: var(--clr-text) !important;
}

.user-role-tag {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.6em;
    display: inline-block;
    color: var(--clr-text) !important;

    /*; Desplaza hacia la derecha */
    margin-left: auto;
    margin-bottom: auto;
}

/*? Clases de colores específicas para cada rol */
.user-role.admin,
.user-role-tag.admin {
    background-color: var(--clr-admin) !important;
}

.user-role.cleaning,
.user-role-tag.cleaning {
    background-color: var(--clr-cleaning) !important;
}

.user-role.delivery,
.user-role-tag.delivery {
    background-color: var(--clr-delivery) !important;
}

.user-role.maintenance,
.user-role-tag.maintenance {
    background-color: var(--clr-maintenance) !important;
}

/*? Añadir variaciones específicas para los tags */
.user-role-tag.admin {
    border: 1px solid var(--clr-admin-dark);
}

.user-role-tag.cleaning {
    border: 1px solid var(--clr-cleaning-dark);
}

.user-role-tag.delivery {
    border: 1px solid var(--clr-delivery-dark);
}

.user-role-tag.maintenance {
    border: 1px solid var(--clr-maintenance-dark);
}

/*? Variación de hover opcional para mejorar la interacción */
.user-role-tag:hover {
    /* transform: scale(1.05); */
    /* transition: transform 0.2s ease-in-out; */
}


/*todo---MARK: Other */

.Toastify__toast {
    user-select: none;
}