:root {
    /* Colores Generales */
    --primary-color: #8ac8f1;
    --primary-dark: #5b8099;
    --primary-light: #b3e1ff;

    --secondary-color: #3498db;
    --secondary-dark: #216b9c;
    --secondary-light: #5daee0;

    /* Colores de roles */
    --super-user-color: rgb(247, 238, 112);
    --super-user-dark: rgb(200, 192, 90);
    --super-user-light: rgb(255, 247, 145);

    --cleaning-color: #bc54f4;
    --cleaning-dark: #933cbe;
    --cleaning-light: #d283f7;

    --delivery-color: #95df6d;
    --delivery-dark: #6bb149;
    --delivery-light: #b4e58e;

    --maintenance-color: #f2aa57;
    --maintenance-dark: #bf853d;
    --maintenance-light: #f5c17b;

    /* Color de fondo en modo claro */
    --clr-background: #b2cad0;
    --clr-OnBackground: #1b232d;

    /* Colores para la tabla en modo claro */
    --clr-table-bg: #ffffff;
    --clr-table-text: #000000;
}

.dark-mode {
    /* Color de fondo en modo oscuro */
    --clr-background: #2c3e50;
    --clr-OnBackground: #ecf0f1;

    /* Colores para la tabla en modo oscuro */
    --clr-table-bg: #2c3e50;
    --clr-table-text: #ecf0f1;
}