.role-buttons-head {
    width: 100%;
}

.role-buttons-head h2 {
    margin-bottom: 1rem;
}

.role-buttons-head h3 {
    margin-bottom: .8rem;
}

.role-buttons-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: .2rem;
}

.role-buttons-table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 3rem;
}

/* table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
} */

/* th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-color: var(--clr-OnBackground);
}

th {
    background-color: var(--primary-dark);
    color: white;
} */