/* Estilos para nuestro navbar actualizado */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  flex: 0 0 auto;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.navbar-logo a:hover {
  text-decoration: underline;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex: 1;
}

/* Esta parte controla la posición de los elementos a la derecha, incluyendo el botón de cierre de sesión */
.navbar-actions {
  display: flex;
  gap: 1rem;
  /* Espacio entre los elementos */
  align-items: center;
  justify-content: flex-end;
  /* Alinea los elementos a la derecha */
  flex: 0 0 auto;
}

.logout-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--clr-error);
  /* Color rojo */
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  /* background-color: #e60000;  */
  background-color: var(--clr-OnError);
  /* Un rojo más oscuro para el hover */
}

.toggle-mode {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.toggle-mode:hover {
  background-color: var(--clr-primary-dark);
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
  }

  .menu-icon {
    display: block;
    order: 1;
  }

  .navbar-logo {
    flex: 1;
    order: 2;
    text-align: center;
  }

  /* En pantallas pequeñas, esto controla la posición de los elementos de la derecha */
  .navbar-actions {
    order: 3;
  }

  .navbar-menu {
    display: none;
    width: 100%;
    order: 4;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  /* En pantallas pequeñas, esto hace que el botón de cierre de sesión ocupe todo el ancho */
  .logout-button {
    width: 100%;
    text-align: center;
  }
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 480px) {
  .navbar-logo h1 {
    font-size: 1.2rem;
  }

  .logout-button,
  .toggle-mode {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}