.formRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 10%;
    background-color: var(--clr-secondary);
    border: 1px solid transparent;
    border-radius: 20px;
}

  
  .formRegister label {
    display: flex; 
    text-align: left;
  }
  
  .formRegister input {
    flex: 2; /* Los inputs tomarán el doble de espacio en comparación con los labels */
  }

  .firstDiv{
    margin-top: 40px;
  }

  .lastButton{
    margin-bottom: 40px;
    padding: 10px;
  }

  .lastButton:hover{
    background-color: var(--clr-OnSecondary);
  }

  .required::after{
    content: '*';
    margin-left: 2px;
    color: var( --clr-OnError);
  }


  .limpieza{
    background-color: var(--cleaning-default);
  }

  .mantenimiento{
    background-color: var(--maintenance-default);
  }

  .admin{
    background-color: var(--admin-default);
  }

  .entrega{
    background-color: var(--delivery-default);
  }
  