.user-profile-container {
  /* display: flex; */
}

.user-profile-content {
  transition: 0.3s;
  margin-left: auto;
  padding: 20px;
  width: calc(100% - 250px);
}

@media (max-width: 768px) {
  .user-profile-content {
    margin-left: 0px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .user-profile-content {
    margin-left: 0px;
    width: auto;
  }
}